/* line 3, ../../../../xampp/htdocs/insightminna/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../../../../xampp/htdocs/insightminna/sass/style.scss */
body {
  background: #dddddd;
  font-family: "Segoe UI", serif;
}

/* line 14, ../../../../xampp/htdocs/insightminna/sass/style.scss */
a {
  color: #A22399;
  text-decoration: none;
}

/* line 19, ../../../../xampp/htdocs/insightminna/sass/style.scss */
a.logo-text {
  color: #ffffff;
  font-family: "Arno Pro", serif;
}

/* line 24, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.optin-container {
  margin-top: 2rem;
}

/* line 28, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.download-img {
  margin-bottom: 1rem;
}

/* line 31, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.download-img > img {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  /* line 39, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero .brand {
    background: #A22399;
  }
  /* line 42, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero .brand__content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }
  /* line 50, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area {
    background-image: url(../img/minnacitygate.jpg);
    background-position: 0 53%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
  }
  /* line 58, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area-content {
    color: #fff;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
  }
  /* line 67, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area .overlay {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.7);
  }
  /* line 77, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 2rem;
  }
  /* line 81, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero h2 span {
    display: block;
    font-family: "Arno Pro", serif;
  }
  /* line 88, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  nav {
    display: none;
  }
}

@media (min-width: 600px) {
  /* line 95, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .optin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 5rem;
  }
}

/* line 104, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.site__container {
  padding: 2rem;
}

/* line 107, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.site__container .main {
  margin: auto;
}

/* line 114, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  margin-top: 1rem;
}

/* line 120, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests-headline {
  color: #A22399;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* line 127, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests-item {
  margin-top: 2rem;
  text-align: center;
}

/* line 131, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests-item a {
  color: #777777;
}

/* line 134, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests-item a:hover, .interests-item a:visited {
  color: #A22399;
}

/* line 140, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.interests-item > img {
  width: 50%;
}

/* line 146, ../../../../xampp/htdocs/insightminna/sass/style.scss */
footer {
  padding: 1rem;
}

/* line 150, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

/* line 156, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.footer-content a {
  color: #A22399;
}

/* line 161, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.footer-content .legals ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* line 166, ../../../../xampp/htdocs/insightminna/sass/style.scss */
.footer-content .legals ul li:not(last-of-type) {
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  /* line 174, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .site {
    width: 100%;
  }
  /* line 177, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .site__container {
    padding: 2rem;
  }
  /* line 180, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .site__container .main {
    margin: auto;
    max-width: 80%;
  }
  /* line 188, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero .brand {
    background: #A22399;
    padding: 1rem;
  }
  /* line 192, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero .brand__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
  }
  /* line 199, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero .brand__content-item {
    font-family: "Arno Pro", serif;
    font-size: 1.5rem;
  }
  /* line 206, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area {
    background-image: url(../img/minnacitygate.jpg);
    background-position: 0 53%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
  }
  /* line 214, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area .overlay {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.7);
  }
  /* line 223, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area-content {
    color: #fff;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
  }
  /* line 231, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area-content h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 3.5rem;
  }
  /* line 235, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .hero__area-content h2 span {
    display: block;
    font-family: "Arno Pro", serif;
  }
  /* line 245, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  nav {
    width: 30%;
  }
  /* line 248, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
  }
  /* line 257, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5rem;
  }
  /* line 263, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-headline {
    color: #A22399;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
  /* line 270, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-item {
    margin-top: 2rem;
    text-align: center;
  }
  /* line 274, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-item a {
    color: #777;
  }
  /* line 277, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-item a:hover {
    color: #A22399;
  }
  /* line 282, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-item > img {
    width: 50%;
  }
  /* line 286, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .interests-item > h3 {
    margin-top: 2rem;
  }
  /* line 293, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  hr.before-footer {
    width: 66%;
    margin: 12rem auto 0;
  }
  /* line 298, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  footer {
    padding: 1rem;
  }
  /* line 302, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  /* line 308, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .footer-content .brand {
    font-family: "Segoe UI", serif;
  }
  /* line 312, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .footer-content .legals {
    width: 25%;
  }
  /* line 315, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .footer-content .legals ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  /* line 323, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .optin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }
  /* line 329, ../../../../xampp/htdocs/insightminna/sass/style.scss */
  .download-img > img {
    max-width: 100%;
    width: 88%;
  }
}

/*# sourceMappingURL=style.css.map */